.btn{
    background-color: rgb(194, 70, 28);
    width: 100%;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 30px;
}
.btn:hover{
    background-color: rgb(121, 21, 74);
}
.btn:active{
    transform: translateY(2px);
}
.detail-card{
        width: 250px;
        height: 450px;
        border: 1px solid black;
        border-radius: 5px;
        overflow: hidden;
        padding: 10px;
        margin: 40px 20px;
        background-color: white;
}
.detail-price{
    margin: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 10px;
}
.category{
    padding-top: 5px;
}
.gender{
    padding-top: 5px;
    padding-bottom: 5px;
}